/* Base document settings */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body,
div,
input {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.hide {
  display: none;
}



/* Top bar area */
.header {
  background-color: #f53c24;
  color: white;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  line-height: 48px;
  text-align: right;
}


h1 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  width: calc(100% - 96px);
}


.about,
.hamburger {
  font-size: 1.8em;
  height: 48px;
  text-align: center;
  width: 48px;
}


@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}



/* Whole main area */
.container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: calc(100% - 48px);
  width: 100%;
}



/* Drawer */

.drawer {
  background-color: white;
  height: 100%;
  width: 250px;
}


@media screen and (max-width: 599px) {
  .drawer {
    -moz-transform: translate(-300px, 0);
    -moz-transition: -moz-transform 0.3s ease;
    -ms-transform: translate(-300px, 0);
    -o-transform: translate(-300px, 0);
    -o-transition: -o-transform 0.3s ease;
    -webkit-transform: translate(-300px, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    will-change: transform;
    z-index: 10;
  }


  .open {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


@media screen and (min-width: 600px) and (max-width: 799px) {
  .drawer {
    width: 210px;
  }
}


.search-holder {
  height: 48px;
  padding: 5px;
}


.search-box {
  font-size: 24px;
  height: 38px;
  padding: 3px;
  width: 100%;
}


.location-holder {
  height: calc(100% - 48px);
  overflow-y: scroll;
}


.location-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}


.location-item {
  -moz-box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: list-item;
  line-height: 24px;
  padding: 24px;
  text-align: left;
  width: 100%;
}



/* Map */
.map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: calc(100% - 250px);
}


@media screen and (max-width: 599px) {
  .map-canvas {
    width: 100%;
  }
}


@media screen and (min-width: 600px) and (max-width: 799px) {
  .map-canvas {
    width: calc(100% - 210px);
  }
}



/* Info Window */
.info-window {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 300px;
}


/* Making the info window fit on smaller screens */
@media screen and (max-width: 360px) {
  .info-window {
    width: 250px;
  }
}


.iw-title {
  margin: 0;
}


.iw-number {
  color: #9f9f9f;
  font-size: 1.1em;
  font-weight: bold;
  left: 0;
  position: absolute;
  top: 0;
}


.iw-top {
  padding: 5px 0;
  width: 100%;
}


.iw-image-holder {
  background-position: 100px 100px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  width: 100px;
}


img.iw-image {
  max-height: 100px;
  width: 100px;
  vertical-align: middle;
}


.iw-stat-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 200px;
}


.iw-stat-item {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1px;
}


.iw-stat-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  width: 15%;
}


.iw-stat-number {
  padding-right: 5px;
  text-align: right;
  width: 15%;
}


.iw-stat-bar {
  background-color: #f5b8c2;
  width: 70%;
}


/* Making the info window fit on smaller screens */
@media screen and (max-width: 360px) {
  .iw-stat-list  {
    width: 150px;
  }


  .iw-stat-name {
    width: 20%;
  }


  .iw-stat-number {
    width: 20%;
  }


  .iw-stat-bar {
    width: 60%;
  }
}


.iw-stat-fill {
  background-color: #f53c24;
}


.iw-description {
  font-size: 1.1em;
  margin: 0;
  text-align: justify;
}


.iw-loading-title {
  font-size: 3em;
  height: 50px;
  left: calc(50% - 100px);
  line-height: 50px;
  margin: 0;
  position: absolute;
  top: calc(50% - 25px);
  width: 200px;
  z-index: 10;
}



/* Spinning loading image */
.iw-loading-image {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* regular settings*/
  height: 150px;
  width: 150px;
}


/* Continue setup for spinning image */

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}


@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}


@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}



/* Error Handling */
.map-error {
  text-align: center;
  padding-top: 100px;
}


.text-error {
  font-size: 1.2em;
}



/* Modal */
.modal-overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background-color: black;
  filter: alpha(opacity=50);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}


.modal-box {
  background-color: white;
  color: black;
  height: 250px;
  left: calc(50% - 150px);
  padding: 0 10px;
  position: absolute;
  text-align: justify;
  top: calc(50% - 125px);
  width: 300px;
  z-index: 21;
}


.modal-link,
.modal-link:visited {
  color: #f53c24;
}


.modal-link:hover {
  text-decoration: none;
}